table {
    border-collapse: collapse;
    width: 600px;
    height: 400px;
    margin: 30px 30px;
}

.table__title {
    caption-side:top;
	text-align:center;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 5px 7px;
}

img {
    width: 30px;
    height: 30px;
}
